@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}
<section class="info">
    <h4 class="budget">Balance: @ViewBag.User.Money</h4>
</section>

<div class="content content-box">
    <section class="income">
    
        <div class="header">
            <h4 class="wallet-header">Income</h4>  
        </div>
        
        <div class="wallet-box">
            @foreach (var item in ViewBag.Items)
            {
                if (item.State == true)
                {
                    <a class="wallet" href="/Home/Operation/@item.Id">
                        <div class="wallet-name">@item.Name</div>
                        <div class="wallet-icon wallet-icon-income"></div>
                        <div class="wallet-balance"><span class="ballance-money ballance-money-income"> @item.Balance</span></div>
                    </a>
                }
            }
            <a class="wallet add-wallet" href="/Home/AddIncome">
                <div class="empty-space"></div>            
                <div class="wallet-icon wallet-icon-add wallet-icon-add-income"></div>
            </a>
        </div>
    </section>

    <section class="wallets">
        <div class="header">
            <h4 class="wallet-header">Wallets</h4>  
        </div>

        <div class="wallet-box">
            @foreach (var item in ViewBag.Wallets)
            {
            <a class="wallet" href="/Home/WalletOperation/@item.Id">
                    <div class="wallet-name">@item.Name</div>
                    <div class="wallet-icon wallet-icon-wallet"></div>
                    <div class="wallet-balance"> <span class="ballance-money ballance-money-wallets"> @item.Money</span></div>
            </a>
            }
            <a class="wallet add-wallet" href="/Home/AddWallet">
                <div class="empty-space"></div>
                <div class="wallet-icon wallet-icon-add wallet-icon-add-wallet"></div>
            </a>
        </div>
    </section>

    <section class="expenses">
        <div class="header">
            <h4 class="wallet-header">Expenses</h4>  
        </div>

        <div class="wallet-box">
            @foreach (var item in ViewBag.Items)
            {
                if (item.State != true)
                {
                    <a class="wallet" href="/Home/Operation/@item.Id">
                        <div class="wallet-name">@item.Name</div>
                        <div class="wallet-icon wallet-icon-expense"></div>
                        <div class="wallet-balance"><span class="ballance-money ballance-money-expenses"> @item.Balance</span></div>
                    </a>
                }
            }
            <a class="wallet add-wallet" href="/Home/AddRashod">
                <div class="empty-space"></div>
                <div class="wallet-icon wallet-icon-add wallet-icon-add-expense"></div>
            </a>
        </div>
    </section>
</div>


