@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAuthorised.cshtml";
}
<section class="info">
    <h5 class="budget">Состояние счёта: @ViewBag.User.Money</h5>
</section>

<hr />

<section class="income">

    <h4 class="wallet-header">Доходы</h4>

    <div class="wallet-box">
        @foreach (var item in ViewBag.Items)
        {
            if (item.State == true)
            {
                <a class="wallet" href="/Home/Operation/@item.Id">
                    <div class="wallet-name">@item.Name</div>
                    <div class="wallet-icon wallet-icon-income"></div>
                </a>
            }
        }
        <a class="wallet add-wallet" href="/Home/AddIncome">
            <div class="empty-space"></div>            
            <div class="wallet-icon wallet-icon-add wallet-icon-add-income"></div>
        </a>
    </div>
</section>

<hr />

<section class="wallets">
    <h4 class="wallet-header">Кошельки</h4>

    <div class="wallet-box">
        @foreach (var item in ViewBag.Wallets)
        {
            <div class="wallet">
                <div class="wallet-name">@item.Name</div>
                <div class="wallet-icon wallet-icon-wallet"></div>
                <div class="wallet-balance">@item.Money</div>
            </div>
        }
        <a class="wallet add-wallet" href="/Home/AddWallet">
            <div class="empty-space"></div>
            <div class="wallet-icon wallet-icon-add wallet-icon-add-wallet"></div>
        </a>
    </div>
</section>

<hr />

<section class="expenses">
    <h4 class="wallet-header">Расходы</h4>

    <div class="wallet-box">
        @foreach (var item in ViewBag.Items)
        {
            if (item.State != true)
            {
                <a class="wallet" href="/Home/Operation/@item.Id">
                    <div class="wallet-name">@item.Name</div>
                    <div class="wallet-icon wallet-icon-expense"></div>
                </a>
            }
        }
        <a class="wallet add-wallet" href="/Home/AddRashod">
            <div class="empty-space"></div>
            <div class="wallet-icon wallet-icon-add wallet-icon-add-expense"></div>
        </a>
    </div>
</section>


